{% extends 'base.html' %} {% block content %}
<!-- <h1>What's Your Name ?!</h1> -->

{% for message in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %} {% if name %}
<h1>Hello {{ name }}</h1>
<br>
<img src="{{ url_for('static', filename='images/photo.png') }}" width="1000" alt="">
<br> <br>
<p id="demo">this is stuff ...</p>{% else %}
<h1>What's your name ?</h1>
<br>
<form action="" method="POST">
    {{ form.hidden_tag() }} {{ form.name.label(class="form-label") }} {{ form.name(class="form-control") }}
    <br> {{ form.submit(class="btn btn-primary") }}
</form>
{% endif%} {% endblock %}